@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/LudoStyle.css" rel="stylesheet" type="text/css" />
    <link href="~/css/ButtonStyle.css" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="~/img/lemon-favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <title>@ViewData["Title"]</title>
</head>
<body>
    @RenderBody()
</body>
</html>